# Ignore everything.
**

# But include these files...
# !.dockerignore
!.gitignore
# !Dockerfile-prod
!fin-finance-admin.code-workspace
!LICENSE
!README.md
# ... and these files under the 'src' directory...
!src/
src/*
!src/go.mod
!src/go.sum
!src/main.go
