# Ignore everything.
**

# But include these files...
# !.dockerignore
!.gitignore
# !Dockerfile-prod
# !fin-finance.code-workspace
!LICENSE
!README.md
# ... and these files under the 'src' directory...
!.vscode/
.vscode/*
!launch.json
# ... and these files under the 'src' directory...
!src/
src/*
!src/go.mod
!src/go.sum
!src/main.go
